.header {
    height: 1.6em;
    line-height: 1.6em;
    font-weight: bold;
    padding-left: .5em;
    border-left: .6em solid #1890ff;
    margin: .5em 0;
    font-size: 1rem;
    text-align: left;
}

.info_column {
    color: whitesmoke;
    background: gray;
    margin: 0;
}


.info_column > p {
    margin: 0;
    height: 2em;
    line-height: 2em;
}