.App {
  font-family: sans-serif;
  /* text-align: center; */
  max-width: 640px;
  margin: 0 auto;
  padding: 0 16px;
}

body::-webkit-scrollbar {
  display: none;
}

.ant-table-thead>tr>th{
  text-align: center;
  background: transparent
}
.ant-table-tbody>tr>td {
  text-align: center;
}

.ant-layout-header {
  background: transparent;
}

.ant-layout-content {
  background: transparent;
}

.ant-layout {
  background: transparent;
}